.App {
  background-color: #f6f6f6;
  padding: 1rem;
}

.collapse-wrapper-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 100%;
  background: #F7F8F9;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-between;
}
.button-section {
  display: flex;
}

.compare-label {
  color: #6B6F81;
  font-size: 14px;
}

.pdf-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EC407A;
  border-radius: 3px;
  width: 35px;
  height: 34px;
  color: #EC407A;
}