@import 'style/fonts/fonts';

body {
  margin: 0;
  font-family: DIN, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
  & * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

// for testing
.max-width-850px {
  max-width: 850px;
}

.max-width-1050px {
  max-width: 1050px;
}

.ReactCollapse--collapse {
  transition: height .7s
}
